* {
    box-sizing: border-box;
    margin:0;
}

@keyframes bounce {
    
    0% {
        transform: translateY(0px);
    }
    
    50% {
        transform: translateY(10px);
    }
    
    100% {
        transform: translateY(0px);
    }
}
    
section {
    height:700px;
    width:100%;
    display:flex;
}
#stemvid {
    width:100%;
}
#mus {
    width:100%;
}


#pil {
    width:40%;
    animation: bounce 2s infinite;
   
}
#scroll{
    position:Sticky;
    width:40px;
    bottom:5px;
    left:95%;
    text-align: center;
    display:none;
}
#praesentation {
    justify-content: space-around;
    width: 100%;
    height: auto;
    flex-direction: column;
}
#praesentation img {
    width: 90%;
    margin:5%;
    
}
#formaal {
    height:500px;
}
#formaal img {
    width:100%;
}
#content1 {
    height:500px;
}
#content1 img {
    width:100%;
}
footer {
    height:100px;
    background-color: black;
}

@media screen 
    and (min-device-width: 1200px) {
#praesentation { 
    flex-direction:row;
    height: 500px;
}
#praesentation img {
    width: 30%;
    margin:inherit;
    margin-top:15px;
    margin-bottom:15px;
}
.prae1 {
    align-self: flex-start;
}
.prae2 {
    align-self: center;
}
.prae3 {
    align-self: flex-end;
}        
#scroll {
    display:block;  
}       
        
}